@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');

:root {
  --bg: #0D0D0D;
  --card: #181818;
  --border: #252525;
  --accent: #E9C6FF;
  --text-primary: #FFFFFF;
  --text-secondary: #999999;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: var(--bg);
  color: var(--text-primary);
}

* {
  scrollbar-width: thin;
  scrollbar-color: #252525 transparent;
}
